<!DOCTYPE html> 
  
<html> 
<head> 
    <title>Games List</title> 
</head> 
  
<!-- Adding some style to table (OPTIONAL) -->
<style type="text/css"> 
      
    th:tr{ 
        color: blue; 
  
    } 
    tr:nth-of-type(2n){ 
        border: 1px solid black; 
        background-color: rgba(150, 150, 150, 0.5); 
  
    } 
  
    td{ 
        padding: 8px 8px; 
        border: 1px solid black; 
    } 
</style> 
  
<body> 

<table style="margin-left: 20px;"> 
<!-- Table headers -->
    <th> 
        <tr style="color: green; ">     
        <td>GameId</td>
        <td>GameTypeDesc</td> 
        <td>StartTime</td>
        <td>Date</td>
        <td>GameNumber</td>
        <td>Visitor Team</td> 
        <td>Score</td>
        <td>Sog</td>
        <td>HomeTeam</td>
        <td>Score</td>
        <td>Sog</td>
        
        <td>Gm Status</td>

</tr> 
    </th> 
      
<!-- For loop logic of jinja template -->
{%for i in range(0, len)%} 
  
<!-- table rows -->
<tr> 
    <td>{{json_html[i].gameId}}</td> 
    <td>{{json_html[i].gameTypeDesc}}</td> 
    <td>{{json_html[i].easternStartTime}}</td>
    <td>{{json_html[i].gameDate}}</td>
    <td>{{json_html[i].gameNumber}}</td> 
    <td onclick="teamClicked('{{json_html[i].visitingTeamId}}', '{{json_html[i].visitingTeamFullName}}')"
        style="cursor:pointer; color:blue;">
        {{json_html[i].visitingTeamFullName}}
    </td> 
    <td>{{json_html[i].visitingScore}}</td>
    <td>{{json_html[i].visitingSog}}</td>
    <td onclick="teamClicked('{{json_html[i].homeTeamId}}', '{{json_html[i].homeTeamFullName}}')"
        style="cursor:pointer; color:blue;">
        {{json_html[i].homeTeamFullName}}
    </td> 
    <td>{{json_html[i].homeScore}}</td>
    <td>{{json_html[i].homeSog}}</td> 
    <td>{{json_html[i].lastPeriodType}}</td> 
  
{%endfor%} 
  
</tr> 
  
</table> 
  
  
</body> 
<script>
function teamClicked(teamId, teamName) {
    window.open("/getTeamRoster/" + teamId, "_blank", "noopener,noreferrer");
}
</script>
</html>
