<!DOCTYPE html> 
  
<html> 
<head> 
    <title> Dashboard </title> 
</head> 
  
<!-- Adding some style to table (OPTIONAL) -->
<style type="text/css"> 
      
    th:tr{ 
        color: blue; 
  
    } 
    tr:nth-of-type(2n){ 
        border: 1px solid black; 
        background-color: rgba(150, 150, 150, 0.5); 
  
    } 
  
    td{ 
        padding: 8px 8px; 
        border: 1px solid black; 
    } 
</style> 
  
<body> 
    <h2 align="center" >Hockey Dashboard</h2>
    <form>
        <p align="center"><a href="{{url_for(app.getTeams)}}"><button class=grey style="height:75px;width:150px">Get Teams</button></a></p>
        <p align="center"><a href=getFranchises ><button class=grey style="height:75px;width:150px">Get Franchises</button></a></p>
        <p align="center"><a href=getGames ><button class=grey style="height:75px;width:150px">Get Games</button></a></p>
        <--! p align="center"><input type="date" format="yyyy/mm/dd" name="dateVal">Input a Date</p> -->
    </form>
</body>
</html>