<!DOCTYPE html> 
  
<html> 
<head> 
    <title> Dashboard </title> 
</head> 
  
<!-- Adding some style to table (OPTIONAL) -->
<style type="text/css"> 
      
    th:tr{ 
        color: blue; 
  
    } 
    tr:nth-of-type(2n){ 
        border: 1px solid black; 
        background-color: rgba(150, 150, 150, 0.5); 
  
    } 
  
    td{ 
        padding: 8px 8px; 
        border: 1px solid black; 
    } 
</style> 
  
<body> 
    <h2 align="center" >Load Updates Data Dashboard</h2>
    
    <!-- Separate forms for each action -->
    <div align="center">
        <form action="{{ url_for('loadAllTeams') }}" method="GET">
            <button type="submit">Load All Teams</button>
        </form>
        
        <form action="{{ url_for('loadAllGames') }}" method="GET">
            <button type="submit">Load All Games</button>
        </form>

        <form action="{{ url_for('loadStandings') }}" method="GET">
            <button type="submit">Load Standings</button>
        </form>
        
        <form action="{{ url_for('updateDayRosters') }}" method="POST">
            <input type="date" 
                   id="gameDate" 
                   name="gameDate" 
                   required 
                   pattern="\d{4}-\d{2}-\d{2}"
                   title="Enter date in YYYY-MM-DD format">
            <button type="submit">Update Day Rosters</button>
        </form>
        
        <form action="{{ url_for('updateDayGames') }}" method="POST">
            <input type="date" 
                   id="gameDate" 
                   name="gameDate" 
                   required 
                   pattern="\d{4}-\d{2}-\d{2}"
                   title="Enter date in YYYY-MM-DD format">
            <button type="submit">Update Day Games</button>
        </form>

        <p style="color:green;">{{ message }}</p>
    </div>
</body>
</html>